---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import { newImageRepo, newGroupRepo } from "@/repositories/";

const searchParams = new URL(Astro.url).searchParams;
const groupToFilterBy = Number(searchParams.get("group") ?? 0);
const showPrinted = Boolean(searchParams.get("show_printed"));

const imageRepo = newImageRepo();
const images = await imageRepo.getImages({
  groupId: groupToFilterBy,
  showPrinted,
});

const groupRepo = newGroupRepo();
const groups = await groupRepo.getGroups();
---

<MainLayout title="Kader App | Print">
  <article>
    <header class="print:hidden">
      <h1>Print</h1>
      {
        images.length ? (
          <p>Showing {images.length} photos</p>
        ) : (
          <p>No images found.</p>
        )
      }

      {
        images.length && (
          <a id="print" class="btn btn-primary" href="/export">
            print
          </a>
        )
      }
    </header>

    <form
      method="get"
      class="print:hidden grid grid-cols-2 gap-4 outline-2 dark:outline-slate-500 px-6 py-4 my-4"
    >
      <label class="label" for="group"
        >Choose group to display, select none to display all</label
      >

      <select id="group" name="group" class="select">
        <option value="">None</option>
        {
          groups.map((g) => (
            <option selected={g.id === groupToFilterBy} value={g.id}>
              {g.name}
            </option>
          ))
        }
      </select>

      <label for="show_printed" class="label">Show printed pictures too?</label>
      <input
        type="checkbox"
        class="checkbox peer"
        name="show_printed"
        checked={showPrinted}
      />
      <!-- <span class="hidden peer-checked:block">Yes</span> -->
      <!-- <span class="peer-checked:hidden">No</span> -->

      <button class="btn" type="submit" class="col-end-3">submit</button>
    </form>

    <ul class="flex flex-wrap basis-[3cm] shrink-0 grow-1 gap-[0.05cm]">
      {
        images?.map((f) => (
          <li class="inline-block relative">
            <Image
              width={300}
              height={400}
              src={`/images/${f.filename}`}
              alt={f.student_name}
              class="inline-block max-w-full w-[3cm] h-[4cm] object-cover"
            />
            <p class="print:hidden text-sm absolute bottom-0 left-0 right-0 bg-black/70">
              {f.student_name} - {f.group_name}
            </p>
          </li>
        ))
      }
    </ul>
  </article>
</MainLayout>

<style>
  .photo {
    margin-block: 0.1rem;
  }
</style>
