---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import { getGroups, getPicturesPath } from "@/utils";
import { newImageRepo } from "@/repositories/images";
import { newGroupRepo } from "@/repositories/groups";

const searchParams = new URL(Astro.url).searchParams;
// const groupToFilterBy = searchParams.get("group") ?? "";
//
// const picturesPath = getPicturesPath();
// const { files, error } = await getFiles(picturesPath, groupToFilterBy);

const imageRepo = newImageRepo();
const files = await imageRepo.getImages();
const error = null;

const groupRepo = newGroupRepo();
const groups = await groupRepo.getGroups();
---

<BaseLayout title="Kader App | Print">
  {error && error.code === "NO_FOLDER_FOUND" && <p>no folder found</p>}

  <main class="grid gap-4 grid-cols-2 max-w-7xl mx-auto">
    <header class="print:hidden px-6 py-4">
      <h1>Kader app</h1>
      {
        files.length ? (
          <p>Showing {files.length} photos</p>
        ) : (
          <p>No images found.</p>
        )
      }

      <button id="print" class="btn btn-primary">print</button>
    </header>

    <form
      method="get"
      class="print:hidden flex flex-col gap-4 outline-2 dark:outline-slate-500 px-6 py-4 my-4"
    >
      <label class="label" for="group"
        >Choose group to display, select none to display all</label
      >

      <select id="group" name="group" class="select">
        <option value="">None</option>
        {groups.map((g) => <option value={g.id}>{g.name}</option>)}
      </select>

      <button class="btn" type="submit">submit</button>
    </form>

    <ul class="grid gap-0.5 photo-grid col-span-full">
      {
        files?.map((f) => (
          <li>
            <Image
              width={300}
              height={400}
              src={`/images/${f}`}
              alt="<>"
              class="block max-w-full w-[3cm] h-[4cm] object-cover"
            />
            {f}
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 3cm);
  }
</style>

<script>
  const button = document.getElementById("print");
  button?.addEventListener("click", () => window.print());
</script>
