---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { actions } from "astro:actions";

import { newImageRepo, newGroupRepo } from "@/repositories/";

const searchParams = new URL(Astro.url).searchParams;
const groupToFilterBy = Number(searchParams.get("group") ?? 0);
const showPrinted = Boolean(searchParams.get("show_printed"));
const sortByNIM = Boolean(searchParams.get("sort_by_nim"));

const imageRepo = newImageRepo();
const images = await imageRepo.getImages({
  groupId: groupToFilterBy,
  showPrinted, sortByNIM,
});

const groupRepo = newGroupRepo();
const groups = await groupRepo.getGroups();
---

<MainLayout title="Kader App | Print">
  <article>
    <header class="print:hidden">
      <h1>Print</h1>
      {
        images.length ? (
          <p>Showing {images.length} photos</p>
        ) : (
          <p>No images found.</p>
        )
      }

      {
        images.length && (
          <a id="print" class="btn btn-primary" href="/export">
            print
          </a>
        )
      }
    </header>

    <form
      method="get"
      class="print:hidden grid grid-cols-2 gap-4 outline-2 dark:outline-slate-500 px-6 py-4 my-4"
    >
      <label class="label" for="group"
        >Choose group to display, select none to display all</label
      >

      <select id="group" name="group" class="select">
        <option value="">None</option>
        {
          groups.map((g) => (
            <option selected={g.id === groupToFilterBy} value={g.id}>
              {g.name}
            </option>
          ))
        }
      </select>

      <label for="show_printed" class="label">Show printed pictures too?</label>
      <input
        type="checkbox"
        class="checkbox peer"
        name="show_printed"
        checked={showPrinted}
      />

      <label for="sort_by_nim" class="label">Sort pictures only by NIM?</label>
      <input
        type="checkbox"
        class="checkbox peer"
        name="sort_by_nim"
        checked={sortByNIM}
      />
      <!-- <span class="hidden peer-checked:block">Yes</span> -->
      <!-- <span class="peer-checked:hidden">No</span> -->

      <button class="btn" type="submit" class="col-end-3">submit</button>
    </form>

    <form
      action={actions.images.markPrinted}
      method="post"
      class="flex flex-wrap gap-4"
    >
      {
        images?.map((f) => (
          <label
            for={String(f.student_id)}
            class="inline-block relative w-[3cm] h-[4cm] cursor-pointer"
          >
            <span class="text-sm bg-black/80 flex justify-between">
              {f.student_name} <br /> {f.group_name}
              <input
                id={String(f.student_id)}
                type="checkbox"
                class="checkbox"
                name="student"
                value={String(f.student_id)}
              />
            </span>
            <Image
              width={300}
              height={400}
              src={`/images/${f.filename}`}
              alt={f.student_name}
              class="absolute inset-0 z-[-1] size-full object-cover"
            />
          </label>
        ))
      }
      <div class="order-first w-full">
        <button type="button" class="btn btn-danger btn-soft"
          >Mark all as printed</button
        >
        <button type="submit" class="btn btn-primary"
          >Mark selected pictures as printed</button
        >
      </div>
    </form>
  </article>
</MainLayout>
