---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import { newImageRepo } from "@/repositories/images";
import { newGroupRepo } from "@/repositories/groups";

const searchParams = new URL(Astro.url).searchParams;
const groupToFilterBy = Number(searchParams.get("group") ?? 0);
const showPrinted = Boolean(searchParams.get("show_printed"));

const imageRepo = newImageRepo();
const images = await imageRepo.getImages({
  groupId: groupToFilterBy,
  showPrinted,
});
const error = null;

const groupRepo = newGroupRepo();
const groups = await groupRepo.getGroups();
---

<MainLayout title="Kader App | Print">
  {error && error.code === "NO_FOLDER_FOUND" && <p>no folder found</p>}

  <article class="grid gap-4 grid-cols-2">
    <header class="print:hidden px-6 py-4">
      <h1>Kader app</h1>
      {
        images.length ? (
          <p>Showing {images.length} photos</p>
        ) : (
          <p>No images found.</p>
        )
      }

      <button id="print" class="btn btn-primary">print</button>
    </header>

    <form
      method="get"
      class="print:hidden grid grid-cols-2 gap-4 outline-2 dark:outline-slate-500 px-6 py-4 my-4"
    >
      <label class="label" for="group"
        >Choose group to display, select none to display all</label
      >

      <select id="group" name="group" class="select">
        <option value="">None</option>
        {
          groups.map((g) => (
            <option selected={g.id === groupToFilterBy} value={g.id}>
              {g.name}
            </option>
          ))
        }
      </select>

      <label for="show_printed" class="label">Show printed pictures too?</label>
      <input
        type="checkbox"
        class="checkbox peer"
        name="show_printed"
        checked={showPrinted}
      />
      <!-- <span class="hidden peer-checked:block">Yes</span> -->
      <!-- <span class="peer-checked:hidden">No</span> -->

      <button class="btn" type="submit" class="col-end-3">submit</button>
    </form>

    <ul class="grid gap-y-0.25 photo-grid col-span-full">
      {
        images?.map((f) => (
          <li>
            <Image
              width={300}
              height={400}
              src={`/images/${f.filename}`}
              alt={f.student_id}
              class="block max-w-full w-[3cm] h-[4cm] object-cover"
            />
            <p class="print:hidden">{f.filename}</p>
          </li>
        ))
      }
    </ul>
  </article>
</MainLayout>

<style>
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 3cm);
  }
</style>

<script>
  const button = document.getElementById("print");
  button?.addEventListener("click", () => window.print());
</script>
