---
import { db } from "@/database";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import { actions } from "astro:actions";
import { newGroupRepo } from "@/repositories/groups";
import { isInputError } from "astro:actions";

const { id } = Astro.params;
if (!id) throw new Error("no id");

const student = await db
  .selectFrom("students")
  .leftJoin("images", "images.student_id", "students.id")
  .where("students.id", "=", Number(id))
  .select([
    "students.id",
    "students.group_id",
    "students.nim",
    "students.name",
    "students.nickname",
    "students.date_of_birth",
    "students.place_of_birth",
    "students.instagram_handle",
    "students.hobby",
    "students.blood_type",
    "students.address",
    "students.has_bonded_with",
    "images.filename as image_filename",
  ])
  .executeTakeFirst();

const groups = await newGroupRepo().getGroups();
const bloodTypes = [
  { name: "A" },
  { name: "B" },
  { name: "AB" },
  { name: "O" },
  { name: "A+" },
  { name: "B+" },
  { name: "A-" },
  { name: "B-" },
  { name: "O-" },
  { name: "O+" },
  { name: "AB-" },
  { name: "AB+" },
] as const;

const dob = new Date(student?.date_of_birth ?? "");
const year = dob.getFullYear().toString();
const month = dob.getMonth().toString();
const date = dob.getDate().toString();
const formattedDob = `${year.padStart(2, "0")}-${month.padStart(2, "0")}-${date.padStart(2, "0")}`;

const result = Astro.getActionResult(actions.students.update);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};

if (result) {
  if (result.error) console.error(result.error);
  if (!result.error) return Astro.redirect("/students");
}

const title = `Kader App | ${student?.name}`;
---

<MainLayout title={title}>
  {
    result?.error && (
      <header class="py-6 px-8 bg-red-700/25 outline-1 outline-red-500">
        <p>There was an error!</p>

        {result.error.code === "BAD_REQUEST" && (
          <p>Please check your inputs.</p>
        )}

        {Object.entries(inputErrors).map(([key, value]) => (
          <p>
            {key} - {value}
          </p>
        ))}
      </header>
    )
  }
  {
    student ? (
      <div class="grid grid-cols-2 gap-4">
        <header class="col-span-2">
          Editing
          <h1 class="text-2xl">
            {student.name} - {student.nim}
          </h1>
        </header>

        <form
          action={actions.students.update}
          method="post"
          class="px-6 py-4 grid grid-cols-2 gap-4 max-w-2xl rounded border-2 border-base-content/20"
          enctype="multipart/form-data"
        >
          <label class="label" for="image">
            Image
          </label>
          <input
            type="file"
            name="image"
            id="image"
            accept="image/*"
            class="file-input"
          />

          <input type="hidden" name="id" value={student.id} />
          <label class="label" for="name">
            Name
          </label>
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            value={student.name}
          />

          <label class="label" for="nickname">
            Nickname
          </label>
          <input
            type="text"
            class="input"
            name="nickname"
            id="nickname"
            value={student.nickname}
            placeholder="nickname"
          />

          <label class="label" for="blood_type">
            Blood types
          </label>

          <select class="select" name="blood_type" id="blood_type">
            <option value={null} selected={student.blood_type === null}>
              None
            </option>

            {bloodTypes.map((type) => (
              <option
                value={type.name}
                selected={student.blood_type === type.name}
              >
                {type.name}
              </option>
            ))}
          </select>

          <label class="label">Place, date of birth</label>
          <input
            type="text"
            class="input"
            disabled
            value={student.place_of_birth}
          />

          <label for="date_of_birth" class="label">
            Actual date of birth
          </label>

          <input
            type="date"
            class="input"
            name="date_of_birth"
            id="date_of_birth"
            value={formattedDob}
          />

          <label for="address" class="label">
            Address
          </label>
          <input type="text" class="input" name="address" id="address" />

          <label class="label" for="group_id">
            Group
          </label>
          <select class="select" name="group_id" id="group_id">
            {groups.map((group) => (
              <option selected={group.id === student.group_id} value={group.id}>
                {group.name}
              </option>
            ))}
          </select>

          <label class="label" for="has_bonded_with">
            Has bonded with?
          </label>

          <input
            class="checkbox"
            type="checkbox"
            checked={Boolean(student.has_bonded_with)}
            name="has_bonded_with"
            id="has_bonded_with"
          />

          <button
            class="btn btn-primary"
            type="submit"
            class="col-span-2 self-end"
          >
            submit
          </button>
        </form>

        <Image
          class="border-2 border-base-content/20 rounded"
          id="student-image"
          width={300}
          height={400}
          src={`/images/${student.image_filename}`}
          alt={student.name}
        />

        <form
          class="rounded border-2 border-base-content/20"
          action={actions.students.delete}
          method="POST"
        >
          <h2>Delete student</h2>
          <input type="hidden" name="id" value={student.id} />
          <button class="btn btn-error btn-soft" type="submit">
            Delete
          </button>
        </form>
      </div>
    ) : (
      <article class="grid place-content-center text-center min-h-[60vh]">
        <h1 class="text-xl">No student found.</h1>
        <p>
          You may have followed a faulty link or manually entered a nonexistent
          student ID.
        </p>
        <a class="btn btn-primary my-4" href="/students">
          Go back to the students page
        </a>
      </article>
    )
  }
</MainLayout>

<script>
  const studentImageEl = document.getElementById("student-image");
  const studentForm: HTMLFormElement | null = document.getElementById("image");

  studentForm?.addEventListener("change", (e) => {
    console.log(e.files[0]);
  });
</script>
