---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";

import { actions, isInputError } from "astro:actions";
import { newStudentRepo, newGroupRepo, newImageRepo } from "@/repositories/";

const { id } = Astro.params;
if (!id || Number.isNaN(Number(id))) throw new Error("no id");

const student = await newStudentRepo().getVerboseStudent(Number(id));
const { result: image } = await newImageRepo().getImage(student.id);
const groups = await newGroupRepo().getGroups();
const bloodTypes = [
  { name: "A" },
  { name: "B" },
  { name: "AB" },
  { name: "O" },
  { name: "A+" },
  { name: "B+" },
  { name: "A-" },
  { name: "B-" },
  { name: "O-" },
  { name: "O+" },
  { name: "AB-" },
  { name: "AB+" },
] as const;

const dob = new Date(student?.date_of_birth ?? "");
const year = dob.getFullYear().toString();
const month = Number(dob.getMonth() + 1);
const date = dob.getDate().toString();
const formattedDob = `${year.padStart(2, "0")}-${month.toString().padStart(2, "0")}-${date.padStart(2, "0")}`;

const studentUpdateResult = Astro.getActionResult(actions.students.update);
const inputErrors = isInputError(studentUpdateResult?.error)
  ? studentUpdateResult.error.fields
  : {};
const redirectTo = Astro.url.searchParams.get("redirectTo");

if (studentUpdateResult) {
  if (studentUpdateResult.error) console.error(studentUpdateResult.error);
  if (!studentUpdateResult.error) {
    const { redirectTo } = studentUpdateResult.data;
    return Astro.redirect(decodeURIComponent(redirectTo));
  }
}

const imageUpdateResult = Astro.getActionResult(
  actions.images.uploadStudentImage
);
if (imageUpdateResult && imageUpdateResult.error) {
  console.error(imageUpdateResult.error);
}

const title = `Kader App | ${student?.name}`;
---

<MainLayout title={title}>
  {
    studentUpdateResult?.error && (
      <header class="py-6 px-8 bg-red-700/25 outline-1 outline-red-500">
        <p>There was an error!</p>

        {studentUpdateResult.error.code === "BAD_REQUEST" && (
          <p>Please check your inputs.</p>
        )}

        {Object.entries(inputErrors).map(([key, value]) => (
          <p>
            {key} - {value}
          </p>
        ))}
      </header>
    )
  }
  {
    student ? (
      <div class="grid grid-cols-2 gap-4 px-4 lg:p-0">
        <header class="col-span-full lg:col-span-2">
          Editing
          <h1 class="text-2xl">
            {student.name} - {student.nim} ({student.group_name})
          </h1>
        </header>

        <form
          action={actions.students.update}
          method="post"
          class="row-span-2 col-span-full lg:col-span-1 px-6 py-4 grid sm:grid-cols-2 gap-4 rounded border-2 border-base-content/20"
        >
          <input type="hidden" name="redirectTo" value={redirectTo} />
          <input type="hidden" name="id" value={student.id} />
          <label class="label" for="name">
            Name
          </label>
          <input
            class="input w-full"
            type="text"
            name="name"
            id="name"
            value={student.name}
          />

          <label class="label" for="nickname">
            Nickname
          </label>
          <input
            type="text"
            class="input w-full"
            name="nickname"
            id="nickname"
            value={student.nickname}
            placeholder="nickname"
          />

          <label class="label" for="hobby">
            Hobby
          </label>
          <input
            type="text"
            class="input w-full"
            name="hobby"
            value={student.hobby}
          />

          <label class="label" for="blood_type">
            Blood types
          </label>

          <select class="select w-full" name="blood_type" id="blood_type">
            <option value={null} selected={student.blood_type === null}>
              None
            </option>

            {bloodTypes.map((type) => (
              <option
                value={type.name}
                selected={student.blood_type === type.name}
              >
                {type.name}
              </option>
            ))}
          </select>

          <label class="label">Place, date of birth</label>
          <input
            type="text"
            class="input w-full"
            disabled
            value={student.place_of_birth}
          />

          <label for="date_of_birth" class="label">
            Actual date of birth
          </label>

          <input
            type="date"
            class="input w-full"
            name="date_of_birth"
            id="date_of_birth"
            value={formattedDob}
          />

          <label for="address" class="label">
            Address
          </label>
          <input
            type="text"
            class="input w-full"
            name="address"
            id="address"
            value={student.address}
          />

          <label class="label" for="group_id">
            Group
          </label>
          <select class="select w-full" name="group_id" id="group_id">
            {groups.map((group) => (
              <option selected={group.id === student.group_id} value={group.id}>
                {group.name}
              </option>
            ))}
          </select>

          <label class="label" for="has_bonded_with">
            Has bonded with?
          </label>

          <input
            class="checkbox"
            type="checkbox"
            checked={Boolean(student.has_bonded_with)}
            name="has_bonded_with"
            id="has_bonded_with"
          />

          <button
            class="btn btn-primary"
            type="submit"
            class="col-span-2 self-end"
          >
            submit
          </button>
        </form>

        {studentUpdateResult?.error && (
          <ul class="flex flex-col gap-y-4">
            <li class="bg-red-300">{studentUpdateResult.error.message}</li>
          </ul>
        )}

        <form
          action={actions.images.uploadStudentImage}
          method="POST"
          enctype="multipart/form-data"
          class="grid gap-4 lg:grid-cols-[15rem_1fr] col-span-full lg:col-span-1"
        >
          <output class="justify-self-center">
            <Image
              class="border-2 border-base-content/20 rounded aspect-[3/4] object-cover"
              id="student-image"
              width={240}
              height={320}
              src={`/images/${student.image_filename}`}
              alt={student.name}
            />
          </output>

          <input type="hidden" name="student_id" value={student.id} />

          <label for="drop-zone" class="sr-only">
            Image drop-zone
          </label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            class="cursor-pointer block text-center border-dashed border-2 border-base-content/20 py-16 px-8"
          />

          <label
            class="label col-span-full justify-self-end"
            for="has_been_printed"
          >
            Has been printed?
            <input
              type="checkbox"
              class="checkbox"
              name="has_been_printed"
              id="has_been_printed"
              checked={Boolean(image?.has_been_printed ?? 0)}
            />
          </label>

          <button
            class="btn btn-error btn-soft"
            type="button"
            id="clear-student-image"
          >
            Clear
          </button>
          <button class="btn btn-primary btn-soft" type="submit">
            Update/Upload
          </button>
        </form>

        <form
          class="rounded border-2 border-base-content/20"
          action={actions.students.delete}
          method="POST"
        >
          <h2>Delete student</h2>
          <input type="hidden" name="id" value={student.id} />
          <button class="btn btn-error btn-soft" type="submit">
            Delete
          </button>
        </form>
      </div>
    ) : (
      <article class="grid place-content-center text-center min-h-[60vh]">
        <h1 class="text-xl">No student found.</h1>
        <p>
          You may have followed a faulty link or manually entered a nonexistent
          student ID.
        </p>
        <a class="btn btn-primary my-4" href="/students">
          Go back to the students page
        </a>
      </article>
    )
  }
</MainLayout>

<script>
  // the file input IS the dropzone
  const imageInputEl = document.getElementById(
    "image"
  ) as HTMLInputElement | null;

  imageInputEl?.addEventListener("drop", handleDrop);

  function previewImage(newImage: File) {
    const img = document.getElementById(
      "student-image"
    ) as HTMLImageElement | null;
    if (!img) return console.error("no image element detected");

    img.src = URL.createObjectURL(newImage);
  }

  function handleDrop(e: DragEvent) {
    const file = Array.from(e.dataTransfer?.items ?? []).find(
      (item) => item.kind === "file"
    );

    const newImage = file?.getAsFile();
    if (!newImage) console.error("no image detected");

    if (newImage) previewImage(newImage);
  }
</script>
