---
import MainLayout from "@/layouts/MainLayout.astro";
import { newGroupRepo, newStudentRepo } from "@/repositories/";
import { formatDate } from "@/utils/index.ts";

const q = Astro.url.searchParams.get("q") ?? "";
const nim = Astro.url.searchParams.get("nim") ?? "";
const groupName = Astro.url.searchParams.get("group") ?? "";
const currentUrl = Astro.url.pathname + Astro.url.search;

const students = await newStudentRepo().getVerboseStudents({
  query: q,
  nim,
  groupName,
});

const studentsCount = students.length;
const bondedWithCount = students
  .filter((student) => Boolean(student.has_bonded_with))
  .map(() => 1)
  .reduce((acc, next) => acc + next, 0);
const percentage = Math.round((bondedWithCount / studentsCount) * 100);

const groups = await newGroupRepo().getGroups();
---

<MainLayout>
  <div class="grid grid-cols-6 gap-6">
    <header class="px-4 lg:px-0 py-4 col-span-full lg:col-span-2">
      <div class="flex justify-between items-center">
        <h1 class="text-xl">
          <span class="italic">{groupName}</span> Students
        </h1>

        <a class="btn btn-primary" href="/students/new">New student</a>
      </div>

      <p>
        {bondedWithCount}/{studentsCount}
        <span class="font-bold"
          >({percentage}% {percentage === 100 && "🎉"})</span
        >
      </p>

      {
        !q && !nim && !groupName && (
          <p>Showing {studentsCount} students of Informatika, including you.</p>
        )
      }

      <form method="get" class="flex flex-col gap-2 py-4">
        <label class="label" for="q">name</label>
        <input class="w-full input" type="text" name="q" id="q" value={q} />

        <label class="label" for="group">group</label>
        <select class="w-full select" name="group" id="group">
          <option value=""> None </option>
          {
            groups.map((group) => (
              <option value={group.name} selected={group.name === groupName}>
                {group.name}
              </option>
            ))
          }
        </select>

        <label for="nim" class="label">nim (last three digits)</label>
        <input
          class="w-full input"
          type="number"
          inputmode="numeric"
          name="nim"
          id="nim"
          value={nim}
        />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </header>

    <div
      class="max-w-full max-h-[80vh] overflow-auto rounded border border-base-content/20 col-span-full lg:col-span-4"
    >
      <table class="table table-hover table-pin-rows table-zebra min-w-max">
        <thead>
          <tr>
            <th> No. </th>
            <th> NIM </th>
            <th> Name </th>
            <th> Place and date of birth </th>
            <th> instagram handle </th>
            <th> Hobby </th>
            <th> blood type </th>
            <th> address </th>
            <th> Group </th>
            <th> date of birth </th>
            <th> has bonded with? </th>
          </tr>
        </thead>

        {
          students?.map((s, i) => (
            <tr
              class:list={[
                "hover:outline-2 hover:outline-green-900",
                {
                  "bg-green-700/20": s.has_bonded_with !== 0,
                  "bg-red-700/15": s.has_bonded_with === 0,
                },
              ]}
            >
              <td>{i + 1}</td>
              <td>{s.nim}</td>
              <td class="max-w-72">
                <a
                  class="link link-hover block"
                  href={`/students/${s.id}?redirectTo=${encodeURIComponent(currentUrl.toString())}`}
                >
                  {s.name}
                  {s.nickname && <span class="block">({s.nickname})</span>}
                </a>
                {s.image_filename && (
                  <img
                    class="aspect-square size-16 rounded object-cover"
                    src={`/images/${s.image_filename}`}
                    alt={s.name}
                    width="75"
                    height="100"
                  />
                )}
              </td>
              <td>{s.place_of_birth}</td>
              <td>
                <a
                  class="link"
                  href={`https://instagram.com/${s.instagram_handle}`}
                >
                  {s.instagram_handle}
                </a>
              </td>
              <td class="max-w-48">{s.hobby}</td>
              <td>{s.blood_type}</td>
              <td class="max-w-96">{s.address}</td>
              <td>{s.group_name}</td>
              <td>{formatDate(new Date(s.date_of_birth ?? ""))}</td>
              <td>{s.has_bonded_with === 0 ? "x" : "v"}</td>
            </tr>
          ))
        }
      </table>
    </div>
  </div>
</MainLayout>
