---
import MainLayout from "@/layouts/MainLayout.astro";
import { db } from "@/database";

const students = await db.selectFrom("students").selectAll().execute();
---

<MainLayout>
  <header>
    <h1>Students</h1>
    <p>Showing {students.length} students of informatika, including you.</p>
  </header>

  <div
    class="max-w-full max-h-[80vh] overflow-auto rounded border border-base-content/20"
  >
    <table class="table table-hover table-pin-rows table-zebra min-w-max">
      <thead>
        <tr>
          <th> No. </th>
          <th> NIM </th>
          <th> Name </th>
          <th> Nickame </th>
          <th> Hobby </th>
          <th> date of birth </th>
          <th> Place and date of birth </th>
          <th> instagram handle </th>
          <th> blood type </th>
          <th> has bonded with? </th>
        </tr>
      </thead>

      {
        students?.map((s, i) => (
          <tr
            class:list={[
              {
                "bg-green-700/20": s.has_bonded_with !== 0,
                "bg-red-700/15": s.has_bonded_with === 0,
              },
            ]}
          >
            <td>{i + 1}</td>
            <td>{s.nim}</td>
            <td>
              <a
                class="link link-hover px-4 py-2 block"
                href={`/students/${s.id}`}
              >
                {s.name}
              </a>
            </td>
            <td>{s.nickname}</td>
            <td class="max-w-48">{s.hobby}</td>
            <td>{new Date(s.date_of_birth).toLocaleDateString()}</td>
            <td>{s.place_of_birth}</td>
            <td>
              <a
                class="link"
                href={`https://instagram.com/${s.instagram_handle}`}
              >
                {s.instagram_handle}
              </a>
            </td>
            <td>{s.blood_type}</td>
            <td>{s.has_bonded_with === 0 ? "x" : "v"}</td>
          </tr>
        ))
      }
    </table>
  </div>
</MainLayout>
